.article-card {
    position: relative;
    z-index: 0;
}

.media-type {
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 5px 10px;
    border-radius: 3px 3px 3px 0px ;
    z-index: 1; /* set z index to keep price tag on top of hover effect */
}

.media-type-wrap {
    position: absolute;
    top: 10px;
    left: -8px;
    padding: 10px;
    border-radius: 8px;
    z-index: -1; /* set z index to keep price tag on top of hover effect */
}

/* Overlay confined to image area */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Transparent black */
    opacity: 0; /* Set opacity to 0 until hovered */
    border: 6px solid rgba(0, 0, 0, 0.9); /* Darker black border */
}

.article-card.hovered .overlay {
    opacity: 0.8;
}
