.property-card {
    position: relative;
    z-index: 0;
}

.price-tag {
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 5px 10px;
    border-radius: 3px 3px 3px 0px ;
    z-index: 1; /* set z index to keep price tag on top of hover effect */
}

.price-tag-wrap {
    position: absolute;
    top: 10px;
    left: -6px;
    padding: 10px;
    border-radius: 12px;
    z-index: -1; /* set z index to keep price tag on top of hover effect */
}

/* Overlay confined to image area */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Transparent black */
    opacity: 0; /* Set opacity to 0 until hovered */
    border: 6px solid rgba(0, 0, 0, 0.9); /* Darker black border */
}

.property-card.hovered .overlay {
    opacity: 0.8;
}

/* Mobile-specific adjustments */
/* Reference: https://chatgpt.com/share/671231ef-8814-8005-9954-ebfd659dc6ca*/
@media (max-width: 768px) {
    .price-tag {
        top: 5px;
        left: 5px;
        padding: 5px;
        border-radius: 5px;
    }

    .price-tag-wrap {
        top: 10px;
        left: -6px;
        padding: 10px;
        border-radius: 5px;
    }

    .property-card {
        margin-bottom: 20px; /* Add spacing for mobile view */
        /*margin-left: 20px;*/
        /*margin-right: 20px;*/
    }

    .property-image {
        width: 100%;
        height: auto; /* Ensures image is responsive */
    }

    .overlay {
        border: none; /* Remove border on mobile for a cleaner look */
    }
}